/*Font Urls*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');
:root{
    --pink--: #FF0066;
    --violet--:#8A3FFC;
}
#logo{
    font-family: 'Satisfy',sans-serif;
}



